/* The container is positioned fixed at the top and centered horizontally.
   It is initially positioned above the viewport (top: -100px) */
.notification-wrapper {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 500; /* Ensure it appears above other content */
}

/* When the 'show' class is added, move the container down into view */
.notification-wrapper.show {
  top: 80px; /* Adjust as needed for spacing */
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--main-background-color);
  color: rgb(245, 245, 245);
  border: 1px solid #505050bb;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
  padding: 20px;
  border-radius: 15px;
  width: fit-content !important;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.notification:hover {
  box-shadow: 0px 0px 1px rgba(165, 165, 165, 0.01), 0px 0px 4px rgba(165, 165, 165, 0.02), 0px 0px 9px rgba(165, 165, 165, 0.03),
    0px 0px 15px rgba(165, 165, 165, 0.04), 0px 0px 24px rgba(165, 165, 165, 0.05);
}

.notification.default {
  background-color: var(--main-background-color);
  border: 1px solid #505050bb;
}

.notification.success {
  background-color: #1e3b1fee; /* green */
  border: 1px solid #058825bb;
}

.notification.error {
  background-color: #461b1eee; /* red */
  border: 1px solid #88050cbb;
}

.notification.warning {
  background-color: #4e4d0fee; /* yellow */
  border: 1px solid #7f8805bb;
}

.notification-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
