.default-form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 15px;
  width: 360px !important;
  min-width: 360px;
  min-width: 360px;
  padding: 25px !important;
  margin-bottom: 20px;
  background-color: var(--main-background-color);
  color: rgb(245, 245, 245);
  border: 1px solid #505050bb;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
  padding: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.default-form-title {
  margin-top: 2px;
  margin-left: 3px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px !important;
  font-weight: 500;
  color: #f3f3f3;
}

.default-form:hover {
  box-shadow: 0px 0px 1px rgba(165, 165, 165, 0.01), 0px 0px 4px rgba(165, 165, 165, 0.02), 0px 0px 9px rgba(165, 165, 165, 0.03),
    0px 0px 15px rgba(165, 165, 165, 0.04), 0px 0px 24px rgba(165, 165, 165, 0.05);
}

.default-form-bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.default-form-bottom-section-text {
  font-size: 0.9em;
  cursor: pointer;
  color: var(--link-color);
  user-select: none !important;
  margin-bottom: 0px;
  text-align: center;
}
.default-form-bottom-section-text:hover {
  text-decoration: underline;
}

.default-form-bottom-section-sumbit-button {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins";
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.655rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #007bff; /* Bootstrap primary color */
  color: #fff;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
}
.default-form-bottom-section-sumbit-button:hover {
  background-color: #0056b3; /* Darker shade for hover */
  border-color: #0056b3;
}

.default-form-forms,
.default-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.default-form-forms {
  margin-bottom: 10px;
}

input:-webkit-autofill {
  /* Force a consistent background so that your animations are not disrupted */
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) !important;
}
