.SoundRiseLogoContainer {
  display: flex;
  justify-content: center;

  gap: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
  font-weight: 500 !important;

}
.SoundRiseLogoContainer p {
    margin-bottom: 3px;
    margin-top: 0px !important;
}

.TopBarSpacer {
  width: 200px;
}