body {
  margin: 0px;
  background-color: #121212;
}
body, html, #root {
  width: 100%;
  height: 100%;
}

.SoundRiseLogoMain {
  width: 40px;
}

:root {
  color-scheme: dark;
  --main-background-color: #141414; /* eg: TopBar */
  --second-background-color: #121212; /* eg: body */
  --text-color: #f1f1f1;
  --link-color: #176bfd;
  --button-background: #006AFF;
  --button-text: #6a11cb;
}

.form-input {
  background-color: rgb(14, 14, 14);
  border-radius: 0.25rem; /* Slightly increased border radius for a softer look */
  border: 1px solid #505050;
  padding: 12px; /* Increased padding for comfort */
  transition: all .3s ease-in-out; /* Adjusted transition for smoother effects */
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  caret-color: rgb(164, 29, 182);
  color: #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Added subtle shadow */
  z-index: 1000;
}

.form-span {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  color: #e0e0e0;
  margin-left: 3px;
  font-size: 14px; /* Smaller font for hints */
}

.form-input:focus {
  transform: translateY(-2px); /* Subtle lift effect */
  background-color: rgb(20, 20, 20); /* Slightly lighter for focus */
  border: 1px solid #a41db6; /* Accent color on focus */
  outline: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  color: #ffffff; /* Clearer text on focus */
  box-shadow: 0 4px 10px rgba(153, 49, 167, 0.267); /* Shadow on focus */
}

.form-input::placeholder {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  color: #a0a0a0; /* Placeholder color for better contrast */
  opacity: 0.8; /* Slightly transparent for a softer look */
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}


/*Change text in autofill textbox*/
input:-webkit-autofill{
  -webkit-text-fill-color: #e0e0e0 !important;
  background-color: rgb(14, 14, 14);
}

.flex {
  display: flex;
}